.gtf {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    padding: 10px;
    border: 1px solid var(--borderColor-default, #e1e4e8);
    border-radius: 6px;
    background: var(--bgColor-muted, #f6f8fa);
    color: var(--fgColor-default, #1f2328);
    transition: opacity 150ms ease-in-out;
}

.gtf--hidden {
    opacity: 0;
}

.gtf__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;

    &:after {
        content: "(" attr(data-count) ")";
        min-width: 2em;
        margin-left: auto;
        opacity: 0.75;
        text-align: right;
    }
}

.gtf-hidden {
    display: none !important;
}
